<div class="contact-content">
    <img src="../../../assets/Shapes.svg" />
    <div *ngIf="!isSmallScreen" class="profiles">
        <app-profile-picture (click)="openBogdanLinkeIn()" class="first" [imageUrl]="bogdansPicture" [name]="bogdansName"></app-profile-picture>
        <app-profile-picture (click)="openCristinaLinkeIn()" class="second" [imageUrl]="cristinasPicture" [name]="cristinasName"></app-profile-picture>
    </div>
    <div *ngIf="isSmallScreen" class="profiles">
        <img src="../../../assets/Group 354.svg" />
        <img src="../../../assets/Group 355.svg" />
    </div>
    <div class="form">
        <div class="question">
            Get free aceess to Odin AI
        </div>
        <button (click)="openForm()">Fill in our form</button>
    </div>
</div>