<div class="contact-content">
    <img src="../../../assets/Shapes.svg" />
    <div class="profiles">
        <app-profile-picture (click)="openBogdanLinkeIn()" class="first" [imageUrl]="bogdansPicture" [name]="bogdansName"></app-profile-picture>
        <app-profile-picture (click)="openCristinaLinkeIn()" class="second" [imageUrl]="cristinasPicture" [name]="cristinasName"></app-profile-picture>
    </div>
    <div class="form">
        <div class="question">
            Do you want to help us?
        </div>
        <button (click)="openForm()">Fill in our form</button>
    </div>
</div>