.report {
  background-color: var(--color-grey-light);
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .general-info {
    display: flex;
    flex-direction: column;
    width: 50%;

    .feature {
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 800;
      padding: 20px;
      padding-top: 10px;

      div {
        font-size: 14px;
        color: var(--color-secondary);
        font-weight: 500;
      }
    }

    .table {
      display: flex;

      ::ng-deep {
        .table-container {
          height: 30vh;
          margin: 0 20px 0 20px;
          padding-bottom: 20px;

          .table {
            width: 100%;
          }

          .mat-header-cell {
            font-size: 14px;
          }

          .mat-cell {
            font-size: 12px;
          }
          .mat-header-cell,
          .mat-cell {
            min-width: 50px;
          }
        }
      }
    }
  }

  .features-image {
    display: flex;
    width: 950px;
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

    .feature {
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 800;
      padding-bottom: 10px;
      width: 100%;
    }

    .image-container {
      overflow: auto;
      height: 65vh;
      position: relative;

      .img {
        width: 95%;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
