<div class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="../../../assets/logo.svg" />
    </div>
    <div class="text">
      {{ "footer-description" | transloco }}
    </div>
    <div *ngIf="!isSmallScreen" class="legal text">
      <div>© 2022 Odin AI. {{ "all-rights-reserved" | transloco }}</div>
    </div>
  </div>

  <div class="overview">
    <div class="contact-title">Contact</div>
    <div class="details">
      <div (click)="openBogdanLinkedln()" class="contact-image">
        <span><img src="../../../assets/linkedln.svg" /></span> Bogdan Bîndilă
      </div>
      <div (click)="openCristinaLinkedln()" class="contact-image">
        <span><img src="../../../assets/linkedln.svg" /></span> Cristina
        Racoviță
      </div>
      <div class="contact-image">
        <span><img class="email" src="../../../assets/email.png" /></span>
        <a href="mailto:{{ email }}">{{ email }}</a>
      </div>
    </div>
  </div>

  <div *ngIf="isSmallScreen" class="legal text">
    <div>© 2022 Odin AI. {{ "all-rights-reserved" | transloco }}</div>
  </div>
</div>
