<div class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="../../../assets/logo.svg" />
    </div>
    <div class="text">
      Your
      <span class="tool-description">no-code automated machine learning</span>
      web application that automatically solves supervised learning problems
      without any programming knowledge.
    </div>
    <div class="legal text">
      <div>© 2022 Odin AI. All rights reserved.</div>
      <div>Terms of Use & Privacy</div>
    </div>
  </div>

  <div class="overview"></div>
</div>
