<div class="hero">
  <div class="hero-content">
    <div class="tagline">
      <span>Hassle-free </span>
      <span class="border-line">AI-based<br /></span>
      <span> digital transformation</span>
    </div>
    <div class="tool-description">
      Odin AI helps the development of small and medium enterprises go through
      digital transformation. Our web platform <span>optimizes products and business
      processes</span> by automatically generating in a few minutes, artificial
      intelligence-based solutions that solve data prediction problems in
      tabular format. This whole process is a replacement for experts in the
      field.
    </div>
    <div class="buttons">
      <button (click)="demo()" class="demo button">Get the demo</button>
      <button (click)="subscribe()" class="subscribe button">Subscribe</button>
    </div>
  </div>

  <div class="hero-image">
    <img src="../../../assets/hero.png" />
  </div>
</div>
