<div class="hero">
  <div class="hero-content">
    <div class="tagline">
      <span>Hassle-free </span>
      <span class="border-line">AI-based<br /></span>
      <span> digital transformation</span>
    </div>
    <div class="tool-description">
      {{ 'tool-description-1' | transloco }}<span>{{ 'tool-description-2' | transloco }}</span>{{ 'tool-description-3' | transloco }}
    </div>
    <div class="buttons">
      <button (click)="demo()" class="demo button">{{ 'demo' | transloco }}</button>
      <button (click)="subscribe()" class="subscribe button">{{ 'subscribe' | transloco }}</button>
    </div>
  </div>

  <div class="hero-image">
    <img src="../../../assets/hero.png" />
  </div>
</div>
