<div class="hero">
    <div class="hero-content">
        <div class="tagline">
            <span>Belive in your </span>    
            <span class="border-line">data</span>
        </div>
        <div class="tool-description">
            Odin AI is a <span>no-code automated machine learning</span> web application that automatically solves supervised learning problems without any programming knowledge. Created models are ready to be used in production and easy to understand due to generated human-readable reports.
        </div>
        <div class="buttons">
            <button (click)="demo()" class="demo button">Get the demo</button>
            <button (click)="subscribe()" class="subscribe button">Subscribe</button>
        </div>
    </div>

    <div class="hero-image">
        <img src="../../../assets/hero-image.svg"/>
    </div>
</div>