<div class="story-content">
  <div class="title">
    Our story<sub><img src="../../../assets/triangle.svg" /></sub>
  </div>
  <div class="past-description">
    Odin AI has started as a research project that makes artificial intelligence easily accessible for everyone. After publishing a paper within ICCP in 2021, we wanted to transform this idea into a company. 
  </div>
  <div class="future-description">
    Now, we are part of the FIX Cluj, a program organized in partnership with City Hall of Cluj-Napoca, which helps young entrepreneurs to develop their ideas into a business. 
  </div>
  <button (click)="subscribe()" class="subscribe">Subscribe</button>
</div>
