<div class="features-content">
  <div class="title-content">
    <div class="title">
      Features<sub><img src="../../../assets/triangle.svg" /></sub>
    </div>
    <div class="mock">
      
    </div>
  </div>

  <div class="features">
    <div class="features-group">
      <div class="feature-element">
        <img src="../../../assets/feature2.svg" />
        <div class="feature-title">Human-readable reports</div>
        <div class="feature-description">
          Describe how the solution was built and present the decisions at the
          time of execution. They also include the description of the learned
          data.
        </div>
      </div>

      <div class="feature-element">
        <img src="../../../assets/feature5.svg" />
        <div class="feature-title">Supervised learning tasks</div>
        <div class="feature-description">
          Solves regression, classification and forecasting problems stored in a
          tabular format
        </div>
      </div>
    </div>

    <div class="features-group">
      <div class="feature-element">
        <img src="../../../assets/feature7.svg" />
        <div class="feature-title">Adaptive interface</div>
        <div class="feature-description">
          Allows beginner users to solve problems without expertise in AI field
          and empowers expert users to customize how a solution is generated
        </div>
      </div>

      <div class="feature-element">
        <img src="../../../assets/feature3.svg" />
        <div class="feature-title">No-code platform</div>
        <div class="feature-description">
          Programming knowledge or AI expertise is not needed for using Odin AI
        </div>
      </div>
    </div>

    <div class="features-group">
      <div class="feature-element">
        <img src="../../../assets/feature4.svg" />
        <div class="feature-title">End-to-end automation</div>
        <div class="feature-description">
          Executes all the steps in a data science project, starting with data
          cleaning processing and ending with models’ deployment.
        </div>
      </div>

      <div class="feature-element">
        <img src="../../../assets/feature6.svg" />
        <div class="feature-title">API</div>
        <div class="feature-description">
          Every solution can be easily integrated via API calls
        </div>
      </div>
    </div>
  </div>
</div>
