.table-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .table {
    width: 90%;
    background-color: transparent;
  }

  .mat-header-cell {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-primary);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-white);
    padding: 5px;
  }

  .mat-cell {
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-primary);
    text-align: center;
    padding: 5px;
  }
}
