.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32.64px;
    margin-bottom: 32px;
    display: flex;
    align-self: center;
  }

  .questions {
    color: var(--color-grey-medium);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
  }

  .subscribe-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subscribe-button {
      padding: 10px 15px;
      border-radius: 24px;
      border: none;
      background-color: var(--color-secondary);
      color: var(--color-white);
      font-size: 14px;
      line-height: 28px;
      font-weight: 800;
      cursor: pointer;
    }

    .email-box {
      border-color: var(--color-grey-medium);
      border-radius: 24px;
      color: var(--color-grey-medium);
      font-size: 16px;
      margin-right: 5px;
      width: 250px;
    }
  }

  .error{
    margin-top: 15px;
    color: var(--color-error);
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .dialog-content {
    width: 500px;
    padding: 30px;

    .subscribe-input {
      position: relative;
      display: flex;
      flex-direction: row;

      .email-box {
        padding: 10px 15px;
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  .dialog-content{
    align-content: center;

    .subscribe-button{
      margin-top: 20px;
    }

    .email-box {
      padding: 10px 5px 10px 5px;
    }
  }
}