<div class="dialog-content">
  <div class="title">Request a demo</div>
  <img src="../../../assets/demo.svg" />
  <div class="questions">
    Introduce your email address and we'll contanct you soon as possible with more details
  </div>
  <div class="subscribe-input">
    <input
      name="email"
      type="text"
      class="email-box"
      placeholder="Type in your email"
      [(ngModel)]="email"
    />
    <button class="subscribe-button" (click)="subscribe()">
      Request
    </button>
  </div>
  <div class="error" *ngIf="isEmailErrorsVisibile()">
    We are sorry, but the email you introduced is not valid!
  </div>
</div>
