<div class="dialog-content">
  <div class="title">Request a demo</div>
  <img src="../../../assets/demo.svg" />
  <div class="questions">
    If you have any questions please don't hesitate to ask at: odin.ai@gmail.com
  </div>
  <div class="subscribe-input">
    <input
      name="email"
      type="text"
      class="email-box"
      placeholder="Type in your email"
      [(ngModel)]="email"
    />
    <button class="subscribe-button" (click)="subscribe()">
      Request
    </button>
  </div>
  <div class="error" *ngIf="isEmailErrorsVisibile()">
    We are sorry, but the email you introduced is not valid!
  </div>
</div>
