<div class="dialog-content">
  <div class="title">{{ 'demo-request' | transloco }}</div>
  <img src="../../../assets/demo.svg" />
  <div class="questions">
    {{ 'email-contact' | transloco }}
  </div>
  <div class="subscribe-input">
    <input
      name="email"
      type="text"
      class="email-box"
      placeholder="{{ 'email-typing' | transloco }}"
      [(ngModel)]="email"
    />
    <button class="subscribe-button" (click)="subscribe()">
      {{ 'request' | transloco }}
    </button>
  </div>
  <div class="error" *ngIf="isEmailErrorsVisibile()">
    {{ 'email-invalid' | transloco }}
  </div>
</div>
