<div class="dialog-content">
  <div class="subscribe-text">
    At the moment, we’re working hard on finishing our beta. Subscribe and
    you’ll be the first to know when we’re ready to launch.
  </div>
  <img src="../../../assets/demo.svg" />
  <div class="subscribe-input">
    <input
      name="search"
      type="text"
      class="email-box"
      placeholder="Type in your email"
      [(ngModel)]="email"
    />
    <button class="subscribe-button" (click)="requestDemo()">
      Subscribe
    </button>
  </div>
  <div class="error" *ngIf="isEmailErrorsVisibile()">
    We are sorry, but the email you introduced is not valid!
  </div>
</div>
