.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subscribe-text {
    color: var(--color-grey-medium);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
  }

  .subscribe-input {
    margin-top: 32px;

    .subscribe-button {
      padding: 10px 15px;
      border-radius: 24px;
      border: none;
      background-color: var(--color-secondary);
      color: var(--color-white);
      font-size: 14px;
      line-height: 28px;
      font-weight: 800;
      cursor: pointer;
    }

    .email-box {
      padding: 10px 15px;
      border-color: var(--color-grey-medium);
      border-radius: 24px;
      color: var(--color-grey-medium);
      font-size: 16px;
      margin-right: 5px;
      width: 250px;
    }
  }

  .error {
    margin-top: 15px;
    color: var(--color-error);
  }
}

@media only screen and (min-width: 768px) {
  .dialog-content {
    width: 500px;
    padding: 30px;

    .subscribe-input {
      position: relative;
      display: inline-flex;
    }
  }
}

@media only screen and (max-width: 765px) {
  .dialog-content {
    width: fit-content;
    align-content: center;

    .subscribe-input {
      display: flex;
      flex-direction: column;

      .subscribe-button {
        margin-top: 20px;
      }
    }
  }
}
