<div class="dialog-content">
  <div class="subscribe-text">
    At the moment, we’re working hard on finishing our beta. Subscribe and
    you’ll be the first to know when we’re ready to launch.
  </div>
  <img src="../../../assets/demo.svg" />
  <div class="subscribe-input">
    <input
      name="search"
      type="text"
      class="email-box"
      placeholder="Type in your email"
    />
    <button class="subscribe-button" type="submit" (click)="subscribe()">
      Subscribe
    </button>
  </div>
</div>
