<div *ngIf="!isSmallScreen" class="nav">
  <div (click)="goToSection('home')" class="logo">
    <img src="../../../assets/logo.svg" />
  </div>
  <div class="menu">
    <button class="option-menu-text" (click)="goToSection('features')">
      {{ 'features' | transloco }}
    </button>
    <button class="option-menu-text" (click)="goToSection('steps')">{{ 'how-it-works' | transloco }}</button>
    <button class="option-menu-text" (click)="goToSection('story')">
      {{ 'our-story' | transloco }}
    </button>
    <div [matMenuTriggerFor]="languageMenu" class="menu-item">
      {{ languageOption }}
    </div>
    <mat-menu class="my-menu" #languageMenu="matMenu" [hasBackdrop]="false">
      <button class="option-menu" *ngFor="let language of languages" mat-menu-item  (click)="chooseLanguage(language)">{{ language }}</button>
    </mat-menu>
    <button class="option-menu-button" (click)="openDialog()">{{ 'demo' | transloco }}</button>
  </div>
</div>

<div *ngIf="isSmallScreen" class="nav">
  <div (click)="goToSection('home')" class="logo">
    <img src="../../../assets/Logo_Dark.svg" />
  </div>
  <div [matMenuTriggerFor]="menu" class="menu">
    <img src="../../../assets/menu.svg" />
  </div>
  <mat-menu class="my-menu" #menu="matMenu">
    <button class="option-menu" mat-menu-item (click)="goToSection('features')">{{ 'features' | transloco }}</button>
    <button class="option-menu" mat-menu-item (click)="goToSection('steps')">{{ 'how-it-works' | transloco }}</button>
    <button class="option-menu" mat-menu-item (click)="goToSection('story')">{{ 'our-story' | transloco }}</button>
  </mat-menu>
</div>