<div class="nav">
  <div (click)="goToSection('home')" class="logo">
    <img src="../../../assets/logo.svg" />
  </div>
  <div class="menu">
    <button class="option-menu-text" (click)="goToSection('features')">
      Features
    </button>
    <button class="option-menu-text" (click)="goToSection('steps')">How it works</button>
    <button class="option-menu-text" (click)="goToSection('story')">
      Our story
    </button>
    <button class="option-menu-button" (click)="openDialog()">DEMO</button>
  </div>
</div>
