.card {
  margin-top: 50px;
  border: none;
  background-color: var(--color-grey-light);
  border-radius: 24px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  width: 260px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-right: 80px;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .useCase {
    font-size: 17px;
    font-weight: 500;
    color: var(--color-primary);
    line-height: 40px;
    margin-left: 16px;
  }

  .more-details {
    padding: 10px 15px;
    border-radius: 24px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 14px;
    line-height: 28px;
    font-weight: 800;
    cursor: pointer;
    align-self: center;
    margin-top: 50px;

    &:hover {
      opacity: 70%;
    }
  }
}
