@use "@angular/material" as mat;
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'avenir');
@include mat.core($custom-typography);

:root {
  --color-primary: #203568;
  --color-secondary: #01adee;
  --color-success: #40bbad;
  --color-error: #d1345b;
  --color-warning: #ffd151;
  --color-grey-light: #f2f5ff;
  --color-grey-light-medium: #e2e5ef;
  --color-grey-medium: #a9adbd;
  --color-grey-medium-dark: #656b7d;
  --color-grey-dark: #1a1c24;
  --color-white: #ffffff;
  --color-gradient-primary:#f6f8ff;
  --color-gradient-secondary:#f2f5ff;
}

body {
  margin: 0;
  font-family: Raleway;
}

.snackbar button{
  color: var(--color-secondary) !important;
}

.snackbar{
  background-color: var(--color-white);
  color: var(--color-primary);
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  overflow: auto;
  height: 100%;
  width: 100%;
}


