<div class="error-dialog">
  <div class="odin-image">
    <img src="../../../assets/odin.png" />
  </div>
  <div class="dialog-content">
    <div class="title">
      {{ "ups" | transloco }}
    </div>

    <!-- <div class="content">
      {{ "error-occured" | transloco }}
    </div> -->

    <div
      class="content text"
      *ngIf="!data.isTest"
      [innerHtml]="'error-check-train' | transloco"
    ></div>
    <div
      class="content text"
      *ngIf="data.isTest"
      [innerHtml]="'error-check-test' | transloco"
    ></div>
  </div>
</div>
